/**
** Globals/Vars
**/
:root {
  --main-link: #d1d1d1;
  --main-bg-color: black;
  --link: #e1e1e1;
  --link-hover: #e1f1d1;
  --error: #7d110c;
  --success: green;
  --info: #f1d3c1;
  --main-text: white;
  --alt-text1: #d1d1d1;
  --alt-text2: #c1c1c1;
  --alt-text3: #b1b1b1;
  --alt-text4: #a2a2a2;
  --alt-text5: #a6c1c1;
}