/*
** PlugDJ Metal Friday Tools
*/

@import "partials/vars";
@import "partials/base";
@import "partials/helpers";

/**
** Popup Specifics
**/

main {
  margin: .5rem auto;
  max-width: 95%;
}

.error {
  color: white;
  background-color: var(--error);
  padding: .5rem 1rem;
  width: 100%;
}


/**** ****/
.community .room-controls--desktop__item .btn-skip {
  font-size: 25px;
  height: 30px;
}